@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&family=Rubik:wght@300;400;500&display=swap");
:root {
  --black: rgb(17, 16, 16);
  --white: rgb(211, 211, 211);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  color: var(--white);
}

html, body, #root, .App {
  height: 100%;
  overflow-y: hidden;
}

.header {
  font-family: "Kanit", sans-serif;
  line-height: 30px;
  text-align: center;
}

p, li, a, button {
  font-family: "Rubik", serif !important;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}
.App {
  background: linear-gradient(to right, #626C75 0%, #181D23 25%, #13171a 50%, #181D23 75%, #626C75 100%);
  background: linear-gradient(90deg, rgb(30, 48, 65) 0%, rgb(66, 38, 0) 24%, rgb(57, 2, 2) 51%, rgb(72, 75, 92) 74%, rgb(30, 48, 65) 100%);
  background-size: 10000px 100%;
  animation: bg 25s linear infinite;
  display: flex;
  overflow-y: hidden;
}
.App #side-bar {
  width: 20%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5.7px);
          backdrop-filter: blur(5.7px);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.App #side-bar div {
  cursor: pointer;
  position: absolute;
  width: 90%;
  top: 20px;
}
.App #side-bar div p {
  font-size: 0.85rem;
  position: absolute;
  top: 0;
  color: transparent;
  transform: translateY(50px);
  z-index: -1;
}
.App #side-bar div:hover h1 {
  color: transparent;
  transform: translateY(-50px);
}
.App #side-bar div:hover p {
  color: var(--white);
  transform: translateY(0);
}
.App #side-bar #nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.App #side-bar #nav li {
  width: 100%;
}
.App #side-bar #nav .nav-button {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
}
.App #side-bar #nav .nav-button:hover {
  color: white;
}
.App #main {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.App #main .HeroSelect {
  width: 100%;
  height: 100%;
  padding: 20px 50px;
  overflow-y: scroll;
}
.App #main .HeroSelect #hero-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 12px;
}
.App #main .HeroSelect #hero-list .Hero {
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 4px black;
  max-width: 130px;
  transition: 0.3s ease-in-out;
}
.App #main .HeroSelect #hero-list .Hero img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
.App #main .HeroSelect #hero-list .Hero p {
  position: absolute;
  font-size: 100%;
  bottom: 0;
  opacity: 0%;
  line-height: 15px;
  transform: translateX(100%);
}
.App #main .HeroSelect #hero-list .Hero:hover {
  box-shadow: 0px 8px 8px black;
  z-index: 998;
  transform: scale(1.5);
}
.App #main .HeroSelect #hero-list .Hero:hover img {
  filter: brightness(120%);
  transform: scale(1);
}
.App #main .HeroSelect #hero-list .Hero:hover p {
  transform: translateX(0);
  opacity: 100%;
  z-index: 999;
}
.App #main .HeroSelect #hero-list .Hero:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(49, 56, 60, 0) 77%, rgba(96, 109, 117, 0) 100%);
}
.App #category-bar {
  padding-left: 12px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5.7px);
          backdrop-filter: blur(5.7px);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  width: 25%;
  display: flex;
  align-items: center;
}
.App #category-bar .categories {
  height: 85%;
  padding: 15px 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.3rem;
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
          mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
}
.App #category-bar .categories div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.App #category-bar .categories div p {
  font-size: 2.2rem;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.App #category-bar .categories div li {
  cursor: pointer;
  width: 80%;
  text-align: center;
  list-style-type: none;
  transition: 0.1s ease-in-out;
}
.App #category-bar .categories div li:hover {
  transform: scale(1.4);
  color: white;
}
.App #category-bar .categories div .selected {
  background-color: rgba(255, 255, 255, 0.05);
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
  .App {
    display: grid;
    grid-template-areas: "nav nav" "hero categories";
    grid-template-rows: 70px 100%;
    grid-template-columns: 60% 40%;
    border: 1px solid red;
  }
  .App #side-bar {
    grid-area: nav;
    width: 100%;
    padding: 10px 30px;
    gap: 5px;
  }
  .App #side-bar div {
    height: 100%;
    width: 100%;
    font-size: 0.8rem;
    position: relative;
    top: 0;
  }
  .App #side-bar div p {
    font-size: 0.8rem;
    line-height: 12px;
    text-align: center;
    margin-bottom: 2px;
  }
  .App #side-bar #nav {
    flex-direction: row;
  }
  .App #main {
    grid-area: hero;
  }
  .App #main .HeroSelect {
    padding: 5px;
  }
  .App #main #hero-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)) !important;
    grid-gap: 6px !important;
  }
  .App #category-bar {
    grid-area: categories;
    width: 100%;
    padding: 0;
    background: none;
    box-shadow: none;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
  .App #category-bar .categories {
    height: 100%;
    padding: 0;
    border: 1px solid blue;
  }
  .App #category-bar .categories div p {
    font-size: 1.3em;
  }
}
.invisible {
  opacity: 100%;
  max-width: 0% !important;
  transform: scale(0%);
  transform-origin: 0% 0%;
}/*# sourceMappingURL=App.css.map */