@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&family=Rubik:wght@300;400;500&display=swap");
@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}
.App {
  background-image: radial-gradient(#d0d0d0 0.7px, #13171a 0.7px);
  background: linear-gradient(to right, #626C75 0%, #181D23 25%, #13171a 50%, #181D23 75%, #626C75 100%);
  background-size: 10000px 100%;
  animation: bg 25s linear infinite;
  display: flex;
  overflow: hidden;
}
.App #side-bar {
  width: 120px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5.7px);
          backdrop-filter: blur(5.7px);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.App #side-bar h1 {
  line-height: 30px;
  font-size: 1.8rem;
  text-align: center;
}
.App #side-bar #nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.App #side-bar #nav li {
  width: 100%;
}
.App #side-bar #nav .nav-button {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
}
.App #side-bar #nav .nav-button:hover {
  color: white;
}
.App #main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.App #main #hero-list {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}
.App #main #hero-list .hero-wrapper {
  height: -moz-fit-content;
  height: fit-content;
  flex: 0 1 120px;
}
.App #main #hero-list .hero-wrapper .Hero {
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 4px black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  filter: saturate(80%);
  position: relative;
}
.App #main #hero-list .hero-wrapper .Hero img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
.App #main #hero-list .hero-wrapper .Hero p {
  position: absolute;
  font-size: 100%;
  bottom: 5px;
  left: 5px;
  opacity: 0%;
  line-height: 15px;
  transform: translateX(50%);
  text-shadow: 0px 2px 5px black;
}
.App #main #hero-list .hero-wrapper .Hero:hover {
  filter: saturate(100%);
  box-shadow: 0px 8px 8px black;
  z-index: 998;
  transform: scale(1.5);
}
.App #main #hero-list .hero-wrapper .Hero:hover img {
  filter: brightness(120%);
  transform: scale(1);
}
.App #main #hero-list .hero-wrapper .Hero:hover p {
  transform: translateX(0);
  opacity: 100%;
  z-index: 999;
}
.App #main #hero-list .hero-wrapper .Hero:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(49, 56, 60, 0) 77%, rgba(96, 109, 117, 0) 100%);
}
.App #category-bar {
  min-width: 180px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(5.7px);
          backdrop-filter: blur(5.7px);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 5px;
}
.App #category-bar .categories {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 0;
}
.App #category-bar .categories div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.App #category-bar .categories div p {
  width: 100%;
  height: auto;
  line-height: auto;
  padding: 18px 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
}
.App #category-bar .categories div p:hover {
  box-shadow: inset 0px 5px 5px rgba(28, 28, 28, 0.5);
  transform: translateY(-3px);
  color: white;
}
.App #category-bar .categories div .active {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
}
.App #category-bar .categories div:hover li {
  opacity: 70%;
}
.App #category-bar .categories div li {
  width: 80%;
  font-size: 1.1rem;
  cursor: pointer;
  text-align: center;
  transition: 0.1s ease-in-out;
}
.App #category-bar .categories div li:hover {
  transform: scale(1.4);
  text-shadow: 0px 3px 3px rgb(36, 36, 36);
  opacity: 100%;
  color: white;
}
.App #category-bar .categories div .selected {
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
  position: relative;
}
.App #category-bar .categories div .selected::after {
  content: "";
  position: absolute;
  background-color: white;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
}
.App #category-bar .categories div li:last-child {
  margin-bottom: 30px;
}
.App #category-display {
  pointer-events: none;
  min-width: 200px;
  width: 50vw;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 120px;
  padding: 10px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7600744766) 0%, rgba(0, 0, 0, 0.5023713953) 52%, rgba(0, 0, 0, 0) 100%);
  opacity: 60%;
}
.App #category-display ul {
  height: 80%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.App #category-display ul li {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.85rem;
}

@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
  .App {
    display: grid;
    grid-template-areas: "nav nav" "hero categories";
    grid-template-rows: 70px calc(100% - 70px);
    grid-template-columns: 70% 30%;
  }
  .App #side-bar {
    grid-area: nav;
    width: 100%;
    padding: 10px 30px;
  }
  .App #side-bar div {
    width: 100%;
    font-size: 0.8rem;
  }
  .App #side-bar div .header {
    font-size: 2rem;
  }
  .App #side-bar div p {
    font-size: 0.8rem;
    line-height: 12px;
    text-align: center;
    margin-bottom: 2px;
  }
  .App #side-bar #nav {
    flex-direction: row;
  }
  .App #main {
    width: auto;
    grid-area: hero;
  }
  .App #main #hero-list .hero-wrapper {
    flex: 0 1 90px;
    min-width: 100px;
  }
  .App #category-bar {
    grid-area: categories;
    width: 100%;
    min-width: 0;
    padding-bottom: 15px;
    padding-left: 0;
    background: none;
    box-shadow: none;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
  .App #category-bar .categories {
    width: 100%;
    padding: 0;
  }
  .App #category-bar .categories div p {
    font-weight: bolder;
  }
  .App #category-bar .categories div p, .App #category-bar .categories div li {
    font-size: 0.8em;
  }
  .App #category-display {
    left: 0;
  }
}
@media only screen and (max-width: 380px) {
  .App #main #hero-list {
    gap: 5px;
  }
}/*# sourceMappingURL=App.css.map */