@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&family=Rubik:wght@300;400;500&display=swap');
:root {
    --black: rgb(17, 16, 16);
    --red: rgb(137, 0, 0);
    --yellow: rgb(223, 223, 76);
    --white: rgb(211, 211, 211);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s ease-in-out;
    color: var(--white);
}
html,body,#root,.App {
    height: 100%;
    overflow-y: hidden;
}
.header {
    font-family: 'Kanit', sans-serif;
    line-height: 30px;
    text-align: center;
}
p,li,a,button {
    font-family: 'Rubik', serif !important;
}
button {
    cursor: pointer;
}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: var(--white); }

$bgWidth: 10000px;
@keyframes bg {
    0% { background-position-x: 0; }
    100% { background-position-x: $bgWidth; }
}
.App {
    // background: linear-gradient(to right, #626C75 0%,#181D23 25%,#13171a 50%,#181D23 75%,#626C75 100%); 
    background: linear-gradient(90deg, rgba(30,48,65,1) 0%, rgba(66,38,0,1) 24%, rgba(57,2,2,1) 51%, rgba(72,75,92,1) 74%, rgba(30,48,65,1) 100%);
    background-size: $bgWidth 100%;
    animation: bg 25s linear infinite ;
    display: flex;
    overflow-y: hidden;
    #side-bar {
        width: 20%;
        padding: 60px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: relative;

        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.7px);
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        div {
            cursor: pointer;
            position: absolute;
            width: 90%;
            top: 20px;
            p { 
                font-size: .85rem; 
                text-align: justify; 
                position: absolute;
                top: 0;
                color: transparent;
                transform: translateY(50px);
                z-index: -1;
            }
            &:hover {
                h1 {
                    color: transparent;
                    transform: translateY(-50px);
                }
                p {
                    color: var(--white);   
                    transform: translateY(0);
                }
            }
        }
        #nav {
            list-style-type: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            li { width: 100%; }
            .nav-button {
                font-size: 1.2rem;
                font-weight: 500;
                background-color: transparent;
                border: none;
                text-align: center;
                width: 100%;
                &:hover {
                    color: white;
                }
            }
        }
    }
    #main {
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
        .HeroSelect {
            width: 100%;
            height: 100%;
            padding: 20px 50px;
            overflow-y: scroll;
            h2 {
                margin-bottom: 20px;
                letter-spacing: 5px;
            }
            #hero-list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
                grid-gap: 12px;
                .Hero {
                    display: flex;
                    overflow: hidden;
                    box-shadow: 0 3px 4px black;
                    img {
                        height: auto;
                        width: 100%;
                        object-fit: cover;
                        transform: scale(1.2);
                        transition: 0.3s ease-in-out;
                    }
                    p {
                        position: absolute;
                        font-size: 100%;
                        bottom: 0;
                        opacity: 0%;
                        line-height: 15px;
                        transform: translateX(100%);
                    }
                    &:hover {
                        box-shadow: 0px 8px 8px black;
                        z-index: 998;
                        transform: scale(1.5);
                        img { 
                            filter: brightness(120%); 
                            transform: scale(1);
                        }
                        p {
                            transform: translateX(0);
                            opacity: 100%;
                            z-index: 999;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(49,56,60,0) 77%, rgba(96,109,117,0) 100%);
                        }
                    }
                }
            }
        }
    }

    #category-bar {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.7px);
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        width: 25%;
        display: flex;
        align-items: center;
        .categories {
            height: 85%;
            padding: 15px 0;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 1.3rem;
            mask: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 0,
                rgba(0, 0, 0, 0) 1%,
                rgba(0, 0, 0, 1) 10%,
                rgba(0, 0, 0, 1) 90%,
                rgba(0, 0, 0, 0) 99%,
                rgba(0, 0, 0, 0) 100%);
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                p {
                    font-size: 2.2rem;
                    letter-spacing: 2px;
                    width: 300px;
                    text-align: center;
                }
                li { 
                    cursor: pointer; 
                    width: 80%;
                    text-align: center;
                    list-style-type: none;
                    transition: .1s ease-in-out;
                }
                .selected { 
                    background-color: rgba(white, 0.05); 
                    font-weight: 500;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .App {
        display: flex;
        flex-direction: column;
        #side-bar {
            height: 100px;
            width: 100%;
            padding: 20px;
            gap: 10px; 
            h1 {
                font-size: 1.5rem;
            }
            p {
                font-weight: 300;
                display: none;
            }
            #nav {
                flex-direction: row;
            }
        }
        #main {
            height: calc(100% - 100px);
        }
    }
}